* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ......nav..... */
.nav {
  display: flex;
  position: fixed;
  top: 0%;
  width: 100vw;
  height: 8%;
  background-color: rgb(89, 89, 213);
}
#youtube {
  display: flex;
  justify-content: start;
  border: 1px solid black;
  width: 30vw;
  padding: 5px;
  height: 50px;
  background-color: rgb(243, 148, 148);
}
.search {
  font-size: 10px;
  width: 35%;
  height: 50px;
  background-color: rgb(171, 49, 49);
}
#searching {
  float: left;
  display: inline;
  width: 50px;
  height: 50px;
  padding: 9px;
  font-size: 15px;
}
.search-icon {
  width: 50px;
  height: 50px;
  float: right;
  padding: 9px;
  font-size: 15px;
  border: 1px solid black;
}
.tell {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  padding: 8px;
  font-size: 20px;
  border-radius: 50%;
  margin: 5px;
  width: 40px;
  height: 40px;
  background-color: rgb(86, 148, 181);
}
#bell {
  display: flex;
  justify-content: end;
  border: 1px solid black;
  padding: 1px;
  font-size: 20px;
  width: 45%;
  height: 50px;
  background-color: rgb(153, 199, 155);
}
.info {
  display: flex;
  justify-content: end;
  border: 1px solid black;
  padding: 13px;
  font-size: 20px;
  width: 35%;
  height: 50px;
  background-color: rgb(26, 61, 28);
}
.side {
  padding: 25px;
  position: fixed;
  left: 0%;
  top: 8%;
  border-right: 1px solid gray;
  text-align: left;
  font-family: "Gill Sans", "Gill Sans MT", "Trebuchet MS", sans-serif;
  font-size: 100%;
  width: 300px;
  height: 90vh;
  background-color: rgb(74, 74, 132);
}

.videos {
  width: 81%;
  background-color: rgb(61, 44, 76);
  margin-left: 20%;
  margin-top: 0px;
}
.videos16 {
  display: flex;
  flex-direction: column;
  float: right;
  position: absolute;
  top: 15%;
  right: 0%;
}
.animation {
  width: 300px;
  height: 100px;
}
.animationfull {
  width: 500px;
  height: 500px;
  padding: 0px 0px 0px 50px;
}

.teasels,
.bear,
.book {
  padding: 1%;
}
