* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-1 {
  width: 40vw;
  height: 50vh;
  background-color: black;
  margin-top: 40% auto;
  position: relative;
  margin-top: 10%;
  left: 25%;
  border-radius: 5px;
}

.para {
  width: 200px;
  height: 40px;
  position: absolute;
  margin-top: 45%;
  left: 30%;
  font-size: 40px;
  color: darkgreen;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.main {
  width: 400px;
  height: 50px;
  background-color: rgb(139, 230, 3);
  border: 2px solid rgb(26, 35, 34);
  border-radius: 50px;
  margin: 20% auto;
  position: absolute;
  top: 12%;
  left: 19%;
}
.loader {
  width: 400px;
  height: 49px;
  background-color: rgb(122, 247, 6);
  animation: loading;
  animation-duration: 7s;
  animation-iteration-count: 10;
  border-radius: 50px;
  box-shadow: 0px 0px 50px rgb(0, 255, 191);
}

@keyframes loading {
  from {
    width: 20px;
    height: 45px;
    margin-left: 5px;
  }
  to {
    width: 395px;
    height: 45px;
    background-color: rgb(58, 113, 6);
    margin-left: 1px;
  }
}
