* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  width: 100vw;
  height: 100vh;
}
.box {
  width: 40%;
  height: 90vh;
  border: 1px solid rgb(209, 207, 207);
  position: relative;
  top: 2%;
  left: 35%;
  border-radius: 2%;
}
.img-google {
  width: 45%;
  height: 45%;
  position: absolute;
  top: 13%;
  right: 0%;
}
.google-img {
  width: 15%;
  margin: 5% 0% 0% 5%;
}
.account {
  font-size: 17px;
  margin: 1% 0% 0% 5%;
  font-family: Arial, Helvetica, sans-serif;
}
.box2 {
  width: 50%;
  display: flex;
  position: relative;
}

.first .last {
  position: relative;
}
.first-name {
  width: 7rem;
  height: 2rem;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 12px;
  transition: 0.25s;
  margin: 1rem;
}

.last-name {
  width: 7rem;
  height: 2rem;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 12px;
  transition: 0.25s;
  margin: 1rem;
}

.first-name:focus {
  outline: none;
  border: 2px solid blue;
  position: absolute;
  left: 0rem;
  top: 0rem;
  transition: 0.25s;
}

.last-name:focus {
  outline: none;
  border: 2px solid blue;
  position: absolute;
  top: 0rem;
  left: 9rem;
  padding: 0 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: 0.25s;
  white-space: nowrap;
  color: rgb(2, 57, 236);
}
.label1 {
  top: 1.2rem;
  left: 1.5rem;
  font-size: 16px;
  position: absolute;
  color: rgb(75, 243, 38);
}
.label2 {
  top: 1.2rem;
  right: 5rem;
  font-size: 16px;
  position: absolute;
}
.first.active,
.label,
.first-name:focus + .label1,
.first-name:active + .label1 {
  top: 0.6rem;
  left: 1.5rem;
  font-size: 10px;
  position: absolute;
  font-weight: 400;
  background-color: white;
  color: rgb(0, 4, 255);
}

.last.active .label,
.last-name:focus + .label2,
.last-name:active + .label2 {
  top: 0.6rem;
  right: 6rem;
  font-size: 10px;
  position: absolute;
  font-weight: 400;
  background-color: white;
  color: blue;
}
