* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  background-color: white;
}
/* ......nav..... */
.nav {
  display: flex;
  position: fixed;
  top: 0%;
  width: 100vw;
  height: 8%;
  border: 1px solid rgb(238, 235, 235);
  background-color: white;
  z-index: 1;
}
#youtube {
  display: flex;
  justify-content: start;
  width: 30vw;
  padding: 2px;
  height: 40px;
  padding-top: 5px;
}
.search {
  font-size: 10px;
  width: 35%;
  height: 36px;
  border: 1px solid black;
  margin: 8px;
}
#navbar {
  float: left;
  display: inline;
  width: 40px;
  height: 40px;
  padding: 9px;
  font-size: 15px;
}
.search-icon {
  width: 50px;
  height: 35px;
  float: right;
  padding: 9px;
  font-size: 15px;
  border-left: 1px solid black;
}
.tell {
  display: flex;
  justify-content: center;
  padding: 12px;
  font-size: 20px;
  border-radius: 50%;
  margin: 5px;
  width: 34px;
  height: 34px;
  background-color: rgb(241 228 228 /51%);
}
#navbar2 {
  display: flex;
  justify-content: end;
  padding: 13px;
  font-size: 20px;
  width: 30%;
  height: 40px;
  margin: 16;
}
.info {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 20px;
  width: 20%;
}
/*......nav-icon.....*/

.fa-align-justify {
  font-size: 17px;
  color: black;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 20%;
  margin-top: 0%;
  position: fixed;
  top: 7%;
  width: 80%;
  background-color: white;
  z-index: 0.2;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 80px;
  margin: 14px;
  text-align: center;
  line-height: 16px;
  font-size: 11px;
  border-radius: 30px;
  padding-top: 1%;
  height: 30px;
}

.right-side {
  width: 20%;
  height: 100vh;
  background-color: cornflowerblue;
  position: fixed;
  right: 0%;
}

.video-1 {
  width: 120px;
  height: 110px;
  background-color: chartreuse;
  margin: 1%;
}

.video-2 {
  width: 120px;
  height: 110px;
  background-color: chartreuse;
  margin: 1%;
}

.video-3 {
  width: 120px;
  height: 110px;
  background-color: chartreuse;
  margin: 1%;
}

.video-4 {
  width: 120px;
  height: 110px;
  background-color: chartreuse;
  margin: 1%;
}

.video-5 {
  width: 120px;
  height: 110px;
  background-color: chartreuse;
  margin: 1%;
}

.video-6 {
  width: 120px;
  height: 110px;
  background-color: chartreuse;
  margin: 1%;
}

.video-7 {
  width: 120px;
  height: 110px;
  background-color: chartreuse;
  margin: 1%;
}

.video-8 {
  width: 120px;
  height: 110px;
  background-color: chartreuse;
  margin: 1%;
}

.video-9 {
  width: 120px;
  height: 110px;
  background-color: chartreuse;
  margin: 1%;
}

.video-10 {
  width: 120px;
  height: 110px;
  background-color: chartreuse;
  margin: 1%;
}
